.dash h4 {
    position: absolute;
    top: 260px;
    right: 1575px;
}

.dash p.pass {
    position: absolute;
    right: 1548px;
    top: 300px;
}

.dash p.protect {
    position: absolute;
    right: 1326px;
    top: 325px;
}

.dash p.twostep { 
    position: absolute;
    right: 1454px;
    top: 355px;
}

.dash p.brow {
    position: absolute;
    right: 1454px;
    top: 500px;
}

.dash p.current {
    position: absolute;
    top: 525px;
    right: 848px;
}

.dash strong.ses1 {
    position: absolute;
    top: 585px;
    right: 1454px;
}

.dash strong.ses2 {
    position: absolute;
    top: 630px;
    right: 1457px;
}

.dash strong.ses3 {
    position: absolute;
    top: 675px;
    right: 1457px;
}

.dash strong.ses4 {
    position: absolute;
    top: 715px;
    right: 1458px;
}

.dash button.edit1 {
    position: absolute;
    right: 800px;
    top: 300px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .dash div.slide {
    position: absolute;
    right: 1200px;
    top: 360px;
  }

.dash p.verification {
    position: absolute; 
    top: 400px;
    right: 1126px;
}